USE [LuiuDB]
GO
/****** Object:  Table [dbo].[EventRanks]    Script Date: 2026/3/28 下午 03:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventRanks](
	[EventRankID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NOT NULL,
	[EventName] [nvarchar](50) NOT NULL,
	[RankDate] [datetime] NOT NULL,
	[Rank] [int] NULL,
 CONSTRAINT [PK_EventRank] PRIMARY KEY CLUSTERED 
(
	[EventRankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 2026/3/28 下午 03:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[EventType] [nvarchar](50) NULL,
	[ImageBG] [nvarchar](max) NULL,
	[OfficialURL] [nvarchar](max) NULL,
	[CreateTime] [datetime] NOT NULL,
	[ViewCount] [int] NOT NULL,
	[FavoriteCount] [int] NOT NULL,
	[PlanCount] [int] NOT NULL,
	[RecordCount] [int] NOT NULL,
	[RefCount] [int] NOT NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventSpotRelations]    Script Date: 2026/3/28 下午 03:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventSpotRelations](
	[EventID] [int] NOT NULL,
	[SpotID] [int] NOT NULL,
	[RegionID] [int] NOT NULL,
 CONSTRAINT [PK_EventSpotRelation] PRIMARY KEY CLUSTERED 
(
	[EventID] ASC,
	[SpotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventTagRelations]    Script Date: 2026/3/28 下午 03:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventTagRelations](
	[EventID] [int] NOT NULL,
	[TagID] [int] NOT NULL,
 CONSTRAINT [PK_EventTagRelation] PRIMARY KEY CLUSTERED 
(
	[EventID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegionRanks]    Script Date: 2026/3/28 下午 03:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegionRanks](
	[RegionRankID] [int] IDENTITY(1,1) NOT NULL,
	[RegionID] [int] NOT NULL,
	[RegionName] [nvarchar](50) NOT NULL,
	[RankType] [nvarchar](50) NULL,
	[RankDate] [datetime] NOT NULL,
	[Rank] [int] NULL,
 CONSTRAINT [PK_RegionRanks] PRIMARY KEY CLUSTERED 
(
	[RegionRankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 2026/3/28 下午 03:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[RegionID] [int] IDENTITY(1,1) NOT NULL,
	[RegionName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SpotRegion] PRIMARY KEY CLUSTERED 
(
	[RegionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpotMonthlySnaps]    Script Date: 2026/3/28 下午 03:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpotMonthlySnaps](
	[SnapID] [bigint] IDENTITY(1,1) NOT NULL,
	[SpotID] [int] NOT NULL,
	[RegionID] [int] NOT NULL,
	[SnapYear] [int] NOT NULL,
	[SnapMonth] [int] NOT NULL,
	[ViewCount] [int] NOT NULL,
	[FavoriteCount] [int] NOT NULL,
	[PlanCount] [int] NOT NULL,
	[RecordCount] [int] NOT NULL,
	[RefCount] [int] NOT NULL,
	[SnapTime] [datetime] NOT NULL,
 CONSTRAINT [PK_SpotMonthlySnap] PRIMARY KEY CLUSTERED 
(
	[SnapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpotPhotos]    Script Date: 2026/3/28 下午 03:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpotPhotos](
	[PhotoID] [int] IDENTITY(1,1) NOT NULL,
	[SpotID] [int] NOT NULL,
	[UploadTime] [datetime] NOT NULL,
	[PhotoURL] [nvarchar](max) NULL,
	[Width] [int] NULL,
	[Height] [int] NULL,
	[Approved] [bit] NOT NULL,
 CONSTRAINT [PK_SpotPhoto] PRIMARY KEY CLUSTERED 
(
	[PhotoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpotRanks]    Script Date: 2026/3/28 下午 03:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpotRanks](
	[SpotRankID] [int] IDENTITY(1,1) NOT NULL,
	[SpotID] [int] NOT NULL,
	[SpotName] [nvarchar](50) NOT NULL,
	[RankType] [nvarchar](50) NULL,
	[RankDate] [datetime] NOT NULL,
	[Rank] [int] NULL,
 CONSTRAINT [PK_SpotRank] PRIMARY KEY CLUSTERED 
(
	[SpotRankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Spots]    Script Date: 2026/3/28 下午 03:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spots](
	[SpotID] [int] IDENTITY(1,1) NOT NULL,
	[RegionID] [int] NOT NULL,
	[MemberID] [int] NULL,
	[SpotName] [nvarchar](50) NOT NULL,
	[Longitude] [decimal](11, 8) NULL,
	[Latitude] [decimal](10, 8) NULL,
	[Tel] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[OfficialURL] [nvarchar](max) NULL,
	[OpeningHoursJson] [nvarchar](max) NULL,
	[LastUpdated] [datetime] NOT NULL,
	[Rating] [decimal](2, 1) NULL,
	[UserRatingCount] [int] NULL,
	[GoogleMapURL] [nvarchar](max) NULL,
	[GoogleMapID] [nvarchar](max) NULL,
	[PriceLevel] [nvarchar](50) NULL,
	[ViewCount] [int] NOT NULL,
	[FavoriteCount] [int] NOT NULL,
	[PlanCount] [int] NOT NULL,
	[RecordCount] [int] NOT NULL,
	[RefCount] [int] NOT NULL,
 CONSTRAINT [PK_Spot] PRIMARY KEY CLUSTERED 
(
	[SpotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpotTagRelations]    Script Date: 2026/3/28 下午 03:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpotTagRelations](
	[SpotID] [int] NOT NULL,
	[SpotTagID] [int] NOT NULL,
 CONSTRAINT [PK_SpotTagRelation] PRIMARY KEY CLUSTERED 
(
	[SpotID] ASC,
	[SpotTagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpotTypeRelations]    Script Date: 2026/3/28 下午 03:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpotTypeRelations](
	[SpotID] [int] NOT NULL,
	[TypeID] [int] NOT NULL,
 CONSTRAINT [PK_SpotType] PRIMARY KEY CLUSTERED 
(
	[SpotID] ASC,
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpotTypes]    Script Date: 2026/3/28 下午 03:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpotTypes](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SpotType_1] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemConfigs]    Script Date: 2026/3/28 下午 03:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemConfigs](
	[ConfigKey] [nvarchar](50) NOT NULL,
	[ConfigValue] [nvarchar](max) NULL,
	[LastUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_SystemConfig] PRIMARY KEY CLUSTERED 
(
	[ConfigKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[EventRanks] ADD  CONSTRAINT [DF_EventRank_RankDate]  DEFAULT (getdate()) FOR [RankDate]
GO
ALTER TABLE [dbo].[Events] ADD  CONSTRAINT [DF_Event_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[Events] ADD  CONSTRAINT [DF_Event_ViewCount]  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[Events] ADD  CONSTRAINT [DF_Event_FavoriteCount]  DEFAULT ((0)) FOR [FavoriteCount]
GO
ALTER TABLE [dbo].[Events] ADD  CONSTRAINT [DF_Event_PlanCount]  DEFAULT ((0)) FOR [PlanCount]
GO
ALTER TABLE [dbo].[Events] ADD  CONSTRAINT [DF_Event_RecordCount]  DEFAULT ((0)) FOR [RecordCount]
GO
ALTER TABLE [dbo].[Events] ADD  CONSTRAINT [DF_Event_RefCount]  DEFAULT ((0)) FOR [RefCount]
GO
ALTER TABLE [dbo].[RegionRanks] ADD  CONSTRAINT [DF_RegionRank_RankDate]  DEFAULT (getdate()) FOR [RankDate]
GO
ALTER TABLE [dbo].[SpotMonthlySnaps] ADD  CONSTRAINT [DF_SpotMonthlySnap_ViewCount]  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[SpotMonthlySnaps] ADD  CONSTRAINT [DF_SpotMonthlySnap_FavoriteCount]  DEFAULT ((0)) FOR [FavoriteCount]
GO
ALTER TABLE [dbo].[SpotMonthlySnaps] ADD  CONSTRAINT [DF_SpotMonthlySnap_PlanCount]  DEFAULT ((0)) FOR [PlanCount]
GO
ALTER TABLE [dbo].[SpotMonthlySnaps] ADD  CONSTRAINT [DF_SpotMonthlySnap_RecordCount]  DEFAULT ((0)) FOR [RecordCount]
GO
ALTER TABLE [dbo].[SpotMonthlySnaps] ADD  CONSTRAINT [DF_SpotMonthlySnap_RefCount]  DEFAULT ((0)) FOR [RefCount]
GO
ALTER TABLE [dbo].[SpotMonthlySnaps] ADD  CONSTRAINT [DF_SpotMonthlySnap_SnapTime]  DEFAULT (getdate()) FOR [SnapTime]
GO
ALTER TABLE [dbo].[SpotPhotos] ADD  CONSTRAINT [DF_SpotPhoto_UploadTime]  DEFAULT (getdate()) FOR [UploadTime]
GO
ALTER TABLE [dbo].[SpotPhotos] ADD  CONSTRAINT [DF_SpotPhoto_Approved]  DEFAULT ((0)) FOR [Approved]
GO
ALTER TABLE [dbo].[SpotRanks] ADD  CONSTRAINT [DF_SpotRank_RankDate]  DEFAULT (getdate()) FOR [RankDate]
GO
ALTER TABLE [dbo].[Spots] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Spots] ADD  CONSTRAINT [DF_Spot_ViewCount]  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[Spots] ADD  CONSTRAINT [DF_Spot_FavoriteCount]  DEFAULT ((0)) FOR [FavoriteCount]
GO
ALTER TABLE [dbo].[Spots] ADD  CONSTRAINT [DF_Spot_PlanCount]  DEFAULT ((0)) FOR [PlanCount]
GO
ALTER TABLE [dbo].[Spots] ADD  CONSTRAINT [DF_Spot_RecordCount]  DEFAULT ((0)) FOR [RecordCount]
GO
ALTER TABLE [dbo].[Spots] ADD  CONSTRAINT [DF_Spot_RefCount]  DEFAULT ((0)) FOR [RefCount]
GO
ALTER TABLE [dbo].[SystemConfigs] ADD  CONSTRAINT [DF_SystemConfig_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
GO
